.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* #region common */

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #endregion common */

/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.logo-part-dark {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: #404bbf;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {

    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* #endregion header */

/* #region mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-modal:hover,
.mobile-close-modal:focus {
    border: none;
    background-color: #404bbf;
    /* fill: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.mobile-icon-close {
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-modal:hover>svg,
.mobile-close-modal:focus>svg {
    fill: #ffffff;
}

/* menu item */

.mobile-nav-list {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.mobile-nav-link {
    display: block;
    /* padding: 24px 0; */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link.current {
    position: relative;
}

.mobile-contacts {
    font-style: normal;
    display: block;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
}

.mobile-contacts-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-contacts-link:hover,
.mobile-contacts-link:focus,
.mobile-nav-link.current {
    color: #404bbf;
}


.mobile-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    padding-top: 24px;
}

.mobile-social-item {
    width: 40px;
    height: 40px;
}

.mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #4D5AE5;
    border-radius: 50%;


}

.mobile-icon-soc {
    fill: #F4F4FD;
}

.mobile-social-link:hover,
.mobile-social-link:focus,
.contacts-link:active {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* #endregion mobile menu */


/* #region HERO SECTION */

.section-hero {
    color: #f4f4fd;
    width: 100%;
    padding: 69px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/hero-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 320px; */
    min-height: 432px;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-mobile@2x.jpg);
    }
}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 75px;
    text-align: center;
    /* padding: 188px 0; */
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: auto 0;
}

.hero-btn {
    display: block;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .section-hero {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-tablet.jpg);
        /* max-width: 768px; */
        min-height: 436px;
    }

    .hero-content {
        gap: 36px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
}


@media screen and (min-width: 768) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-tablet@2x.jpg);
    }
}



@media screen and (min-width: 1158px) {
    .section-hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-desc.jpg);
        /* max-width: 1440px; */
        min-height: 600px;
    }

    .hero-content {
        gap: 48px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-desc@2x.jpg);
    }
}

/* #endregion HERO SECTION */

/* #region FEAUTURE */

.section-features {
    /* max-width: 320px; */
}

.features-container {
    display: flex;
    max-width: 320px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
}


.featureres-box-icon {
    display: none;
}

.features-subtitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.feautures-list {
    display: flex;
    max-width: 320px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 72px;
}

.features-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}


@media screen and (min-width: 768px) {

    .features {
        padding: 96px 0;
    }

    .features-container {
        display: flex;
        justify-content: center;
        max-width: 768px;
        margin: 0 auto;
    }

    .feautures-list {
        display: flex;
        max-width: 736px;
        gap: 72px 24px;
    }

    .features-item {
        flex-basis: calc((100% - 24px) / 2);
        flex-wrap: wrap;
        align-items: flex-start;

    }

    .features-subtitle {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 8px;

    }

    .features-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

@media screen and (min-width: 1158px) {
    .features {
        padding: 120px 0;
    }

    .features-container {
        display: flex;
        justify-content: space-between;
        max-width: 1158px;
        margin: 0 auto;
    }

    .features-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        text-transform: capitalize;
    }

    .features-subtitle {
        margin-bottom: 8px;
    }

    .feautures-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        max-width: 1128px;
        justify-content: center;
    }

    .features-item {
        display: flex;
        align-items: flex-start;
        max-width: 264px;
        flex-basis: calc((100% - 72px) / 4);
    }

    .featureres-box-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 24px 0;
        height: 112px;
        width: 100%;
        margin-bottom: 8px;
    }

    .featureres-icon {}


    .features-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 8px;

    }

    .features-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* #endregion FEAUTURE */

/* #region TEAM */

.team {
    background: #f4f4fd;
    padding-top: 0;
    
}

.container-team {
    margin: auto;
    padding: 96px 28px 0 28px;
}

.team-title {
    margin-bottom: 96px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;;
    padding: 0;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
    flex-direction: column;
}

/* temp */
.team-item {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-ill {}

.team-item-content {
    padding: 32px 0;
}

.team-subtype {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    padding: 8px 0 8px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #4D5AE5;
    border-radius: 50%;

}

.icon-soc {
    fill: #F4F4FD;
}

.team-social-link:hover,
.team-social-link:focus,
.contacts-link:active {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px 64px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1158px) {
    .container-team {
        margin: 0 auto;
        padding-bottom: 0;
    }

    /* .team-title {
        margin-bottom: 72px;
    } */

    .team-list {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 24px
    }

}
/* #endregion TEAM */


/* #region portfolio */

.portfolio {
    padding-top: 0;
}

.container-portfolio {
    margin: 0 auto;
    padding: 72px 16px 0 16px;
}

.portfolio-title {
    margin: 0 auto 72px auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {

    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-tumba {
    position: relative;
    overflow: hidden;
}

.portfolio-ill {}

.overlay {
    background-color: #4d5ae5;
    font: 400 16px / 1.5 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-block {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio-text-block:hover,
.portfolio-text-block:focus {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;

    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-left 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-right 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

@media screen and (min-width: 768px) {
    
    .container-portfolio {
        width: 736px;
    }
    
    .portfolio-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 72px 24px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 2);

    }
}

@media screen and (min-width: 1158px) {
    .container-portfolio {
        margin: 0 auto;
        padding-bottom: 0;
        width: 1128px;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 48px 24px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
                
    }
}

/* #endregion portfolio */


/* footer .logo-part-light {
    text-transform: uppercase;
    color: #f4f4fd;
} */